@import url('https://fonts.googleapis.com/css2?family=Carattere&family=Libre+Baskerville&display=swap');

.sticky-nav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.title {
    font-family: 'Carattere', cursive;
}

body {
    font-family: 'Libre Baskerville', serif;
}

.bold {
    font-weight: 900;
    font-size: larger;
}

.header{
    
    background-color: #ffe4eb; 
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
    background-image: radial-gradient(circle 827px at 47.3% 48%, rgba(255, 255, 255, 1) 0%, rgb(238, 14, 81) 90%)

}

.header-card {
    background-color: #f5aac1;
}

@media only screen and (min-width: 992px) {
    .header{
        background-image: url("/img/JillPrestonLarge.png");
        min-height: 480px;
    }
  
}

@media only screen and (min-width: 576px) and (max-width:991px) {
    .header {
        background-image: url("/img/JillPrestonSmall.png");
    }
}